*{
    padding: 0;
    padding: 0;
    box-sizing: border-box;
}
body,html{
    height: 100%;
    width: 100%;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(128, 128, 128, 0.555);
}
.card{
    width: 400px;
    height: 250px;
    background-color: white;
    border-radius: 10px;
    text-align: center;  
    background-color: rgb(139, 169, 159);  
}
.card h1{
    margin-top: 50px;
    font-size: 40px;
    font-weight: 450;
    color: red;
}
button{
    margin-top: 10px;
    padding: 10px 15px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 600;
    background-color: lightgreen;
    cursor: pointer;
}
