*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,html{
    height: 100%;
    width: 100%;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #777;
    gap: 30px;
}
.card{
    height: 300px;
    width: 300px;
    background-color: white;
    text-align: center;
    padding: 20px 0px;
    border-radius: 10px;
}
.card h1{
    font-weight: 600;
}
.card h4{
    margin-top: 10px;
}
.card p{
    margin-top: 50px;
}

